<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shop Lab{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Rstyles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/dashboard">
            <span>
              ShopLab
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Niches</a>
              </li>
              <!-- Add more links as needed -->
            </ul>
            <div class="user_option">
              <a href="/logout" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i> Logout
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    {% block body %}{% endblock %}
</body>
</html>